App Files/WOT Characters.xcodeproj/project.xcworkspace/contents.xcworkspacedata
App Files/WOT Characters.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
App Files/WOT Characters.xcodeproj/xcuserdata/curtis.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
App Files/WOT Characters.xcodeproj/xcuserdata/curtis.xcuserdatad/xcschemes/xcschememanagement.plist
